.app {
  width: 85%;
  min-width: 796px;
  margin: 0 auto;
}

.notFound {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .app {
    margin: 0 auto;
    min-width: 100%;
  }
}
